html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#digital-clock {
  position: absolute;
  bottom: 20%;
  color: white;
  font-size: 50px;
}
.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 20px white solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mini-circle {
  position: absolute;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: rgb(26, 25, 25);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
/* Hours */
.arrow-hours {
  position: absolute;
  left: calc(50% - 100px);
  width: 100px;
  height: 12px;
  border-radius: 10px;
  background-color: rgb(29, 28, 28);
  transform-origin: right center;
  /* animation: arrow 43200s infinite normal; */
  box-shadow: rgba(244, 242, 242, 0.15) 2.4px 2.4px 3.2px;
}

/* Minutes */
.arrow-minutes {
  position: absolute;
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
  transform-origin: right center;
  /* animation: arrow 3600s steps(60) infinite normal; */
  box-shadow: rgba(241, 241, 241, 0.15) 2.4px 2.4px 3.2px;
}

/* Seconds */
.arrow-seconds {
  position: absolute;
  width: 150px;
  height: 4px;
  border-radius: 10px;
  background-color: rgb(180, 12, 12);
  transform-origin: right center;
  /* animation: arrow 60s steps(60) infinite normal; */
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

@keyframes arrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
